.container-title {
  max-width: 800px;
  margin: auto;
  padding: 0 2rem;
}

.container-title p {
  font-family: "mulish", sans-serif;
  color: var(--c28);
  letter-spacing: 0.2px;
  opacity: 0.9;
  padding-bottom: 1rem;
}

h1 {
  font-size: 70px;
}

@media (orientation: portrait) {
  .container-title {
    max-width: 80%;
  }

  h1 {
    font-size: 200%;
    letter-spacing: 10px;
  }

  .container-title P {
    font-size: 16px;
  }
}