.edu {
  width: 800px;
  margin: auto;
  padding-top: 55px;
}

.cardedu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--c2);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.educat {
  text-align: center;
}

.educat div {
  color: var(--c28);
}

.edu h3 {
  color: var(--c5);
}

.educat img {
  height: 300px;
  cursor: pointer;
  padding: 0cm;
  background-color: var(--c7);
  margin: 1rem;
}
.educat img {
  transition: 0.4s ease;
}

.educat date {
  opacity: 0.8;
  color: var(--c5);
}

@media (orientation: portrait) {
  .edu {
    padding-top: 1rem;
  }

  .edu {
    width: 90%;
  }
  .cardedu {
    display: flex;
    flex-direction: column;
  }
  .educat img {
    height: 220px;
  }
  .educat date {
    font-size: large;
  }
}
