.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2 rem;
    background-color: var(--c2);
    margin-bottom: 1rem;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
  }

  .card p{
    color: var(--c28);
  }
  .card:hover{
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
  }
  .card img {
    background-color: var(--c7);
    width: 100%;
    transition: 0.4s ease;
    
  }
  .card img:hover{
    width: 90%;
  }
  .card > div {
    padding: 2rem;
  }
  .card:nth-child(even) img {
    order: 2;
  }
  .exp span {
    color: var(--c5);
  }
  
  @media (orientation: portrait) {
    
    .card{
      display: flex;
      flex-direction: column;
    }
  }