.footer{
    font-family: 'Roboto',sans-serif;
    color: var(--c4);
    background-color:var(--c2) ;
    font-size: 90rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    
}
li{
    list-style: none;
}
.contain-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    
    
}
.contain-footer li{
    justify-content: center;    
    margin-inline: 1rem;
    padding-inline: 10px;
    padding-top: 10px;
    padding-inline: 10px;
}
.foot2{
    font-size: 18px;
    text-align: center;
    margin-bottom: 3px;
    font-weight: 500;
    padding: 1rem;
    
}
.footer p{
    color: var(-c28);
    
}

.footer img{
    height: 20px;
    cursor: pointer;
    translate: 0px 3px;
    
}

.footer li a{
    transition:all 0.5s ease 0s ;
    
}
.footer li a:hover{
    opacity: 0.5;
}
@media (orientation: portrait) {   
    .footer{
        font-size: small;
    }
    .contain-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
    .footer a{
        font-size: 16px;
    }
    .foot2 span{
        display: none;
    }
}
