.skills{
    width: 800px;
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 55px;
}

.cardSkills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:170px ;
    background-color: var(--c2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;


}
.cardSkills div{
    color: var(--c28);
    transition: 0.2s ease-in-out;
}
.skillCategory{
    text-align: center;
}
.skills h3{
    color: var(--c5);
 }
 .skills img{
    translate: 0px 1rem;
 }
 .skillCategory div:hover{
    font-size: larger;
 }

 @media (orientation: portrait) {
    .skills{
        align-items: center;
        width: 90%;
        padding-top: 1rem;
    }
    .cardSkills{
        height: auto;
        display: flex;
        flex-direction: column;
        
    }
    .cardSkills h3{
        padding: 4px;
    }
 }