@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Roboto", sans-serif;

  --color-copper-50: #F2F1EF;
  --color-copper-100: #efe4d6;
  --color-copper-200: #dec7a9;
  --color-copper-300: #cda87c;
  --color-copper-400: #c18f5e;
  --color-copper-500: #b57549;
  --color-copper-600: #a05e3f;
  --color-copper-700: #864837;
  --color-copper-800: #6e3c32;
  --color-copper-900: #5c322b;
  --color-copper-950: #020100;

  --active-bg: url(https://ik.imagekit.io/sharp/active-bg.jpg);

  --animate-spin: spin 20s linear infinite;
  --animate-spin-slower: spin 60s ease infinite;

  --drift: cubic-bezier(0, 1, 0.6, 1);
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

h1 {
  font-size: var(--text-7xl);
  line-height: var(--text-7xl--line-height);
  letter-spacing: var(--tracking-wide);
  font-weight: 100;
}
h1 span {
  font-weight: 200;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
  color: #5c322ba9;
}
h3 {
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
  transition-duration: 300ms;
}
h4 {
  font-size: var(--text-md);
  font-weight: 500;
}

.tada-enter-from {
  transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
    scale(0.8) translateY(100dvh);
  filter: blur(50px);
}
.tada-enter-active {
  transition: 0.3s;
  transition-timing-function: var(--drift);
}
