@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Elsie', serif;

  --color-copper-50: #faf6f0;
  --color-copper-100: #efe4d6;
  --color-copper-200: #dec7a9;
  --color-copper-300: #cda87c;
  --color-copper-400: #c18f5e;
  --color-copper-500: #b57549;
  --color-copper-600: #a05e3f;
  --color-copper-700: #864837;
  --color-copper-800: #6e3c32;
  --color-copper-900: #5c322b;
  --color-copper-950: #331815;
}